<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1008803353490-toksn4v28f9imudbi77ksk15obqe2eft.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1008803353490-toksn4v28f9imudbi77ksk15obqe2eft</string>
	<key>API_KEY</key>
	<string>AIzaSyBXo5U85k5wSDhbk6es7w_Z4vuCqATvZTI</string>
	<key>GCM_SENDER_ID</key>
	<string>1008803353490</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.stevepop.shopping</string>
	<key>PROJECT_ID</key>
	<string>stevepop-shopping-app</string>
	<key>STORAGE_BUCKET</key>
	<string>stevepop-shopping-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1008803353490:ios:bdfafb32c97f8c683e274b</string>
	<key>DATABASE_URL</key>
	<string>https://stevepop-shopping-app.firebaseio.com</string>
</dict>
</plist>